@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');
* {
    font-family: 'Playfair Display', serif;

}


img {
    height: 200px;
    width: 200px;
}

body {
    margin: 0px;
    padding: 0px;
}
footer {
    background-color: #AD8324;
    padding: 24px 0px 24px 0px;
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%;
}

main {
    padding: 16px;
}

header {
    background-color: #41FAAD;
}

nav {
    border-bottom: 1px black;
    padding: 16px;
}
a, u {
    text-decoration: none;
}

a {
    background-color: #41FAAD;
    transition: background-color 0.5s;
    text-decoration: none !important;
}

a:hover {
    background-color: #ED2EF0;

}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

tr:nth-child(2n) {
    background-color: #D15AFA;
}

h1 {
    color: #FAB928;
}

nav a:hover {
    color: black;

}

a:visited {
    color: white;
}

h3 a:visited {
    color: green;
    background-color: white;
}


/*this is where i will put css edits specificically for details.html */

.body_details {
    text-align: center;
}

.table_class {
    margin-left: auto;
    margin-right: auto;
}

div.center_list{
    display: inline-block;
    text-align: left;
}